<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Name</span>
        <input type="text" class="form-control" placeholder="John" ng-model="vm.rudolph.name1" aria-describedby="basic-addon1" required>
    </div>
</div>
<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Name</span>
        <input type="text" class="form-control" placeholder="Jane" ng-model="vm.rudolph.name2"  aria-describedby="basic-addon1" required>
    </div>
</div>
<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Animal</span>
        <input type="text" class="form-control" placeholder="Dog" ng-model="vm.rudolph.animal1" aria-describedby="basic-addon1" required>
    </div>
</div>

<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Color</span>
        <input type="text" class="form-control" placeholder="Green" ng-model="vm.rudolph.color" ng-model="vm.rudolph.color1" aria-describedby="basic-addon1" required>
    </div>
</div>
<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Animal</span>
        <input type="text" class="form-control" placeholder="Frog" ng-model="vm.rudolph.animal3" aria-describedby="basic-addon1" required>
    </div>
</div>
<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Adjective</span>
        <input type="text" class="form-control" placeholder="Pretty" ng-model="vm.rudolph.adjective1" aria-describedby="basic-addon1" required>
    </div>
</div>

<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Animal-Plural</span>
        <input type="text" class="form-control" placeholder="Mice" ng-model="vm.rudolph.animal4" aria-describedby="basic-addon1" required>
    </div>
</div>
<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Verb</span>
        <input type="text" class="form-control" placeholder="Running" ng-model="vm.rudolph.verb" aria-describedby="basic-addon1" required>
    </div>
</div>
<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Adjecive</span>
        <input type="text" class="form-control" placeholder="Lazy" ng-model="vm.rudolph.adjective2" aria-describedby="basic-addon1" required>
    </div>
</div>

<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Adjective-Weather Related</span>
        <input type="text" class="form-control" placeholder="Cold" ng-model="vm.rudolph.adjective3" aria-describedby="basic-addon1" required>
    </div>
</div>
<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Body Part</span>
        <input type="text" class="form-control" placeholder="Arms" ng-model="vm.rudolph.body" aria-describedby="basic-addon1" required>
    </div>
</div>
<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Noun</span>
        <input type="text" class="form-control" placeholder="Head" ng-model="vm.rudolph.noun" aria-describedby="basic-addon1" required>
    </div>
</div>

<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Animal-Plural</span>
        <input type="text" class="form-control" placeholder="Username" ng-model="vm.rudolph.animal5" aria-describedby="basic-addon1" required>
    </div>
</div>
<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">verb - past tense</span>
        <input type="text" class="form-control" placeholder="Gone" ng-model="vm.rudolph.verb2" aria-describedby="basic-addon1" required>
    </div>
</div>
<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">color</span>
        <input type="text" class="form-control" placeholder="Red" ng-model="vm.rudolph.color2" aria-describedby="basic-addon1" required>
    </div>
</div>
