<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Animal</span>
        <input type="text" class="form-control" placeholder="Deer" ng-model="vm.snow.animal" aria-describedby="basic-addon1" required>
    </div>
</div>
<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Verb Ending in-ing</span>
        <input type="text" class="form-control" placeholder="Winning" ng-model="vm.snow.verb" aria-describedby="basic-addon1" required>
    </div>
</div>
<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Plural Noun</span>
        <input type="text" class="form-control" placeholder="Roses" ng-model="vm.snow.plural" aria-describedby="basic-addon1" required>
    </div>
</div>
<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Verb — Present Tense</span>
        <input type="text" class="form-control" placeholder="Hang" ng-model="vm.snow.verb1" aria-describedby="basic-addon1" required>
    </div>
</div>
<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Adjective</span>
        <input type="text" class="form-control" placeholder="Cute" ng-model="vm.snow.adjective" aria-describedby="basic-addon1" required>
    </div>
</div>
<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Plural Noun</span>
        <input type="text" class="form-control" placeholder="Bells" ng-model="vm.snow.plural1" aria-describedby="basic-addon1" required>
    </div>
</div>
<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Verb — Present Tense</span>
        <input type="text" class="form-control" placeholder="Ring" ng-model="vm.snow.verb2" aria-describedby="basic-addon1" required>
    </div>
</div>
<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Number</span>
        <input type="text" class="form-control" placeholder="January" ng-model="vm.snow.number" aria-describedby="basic-addon1" required>
    </div>
</div>
