<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Month</span>
        <input type="text" class="form-control" placeholder="January" ng-model="vm.tree.month" aria-describedby="basic-addon1" required>
    </div>
</div>
<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Verb</span>
        <input type="text" class="form-control" placeholder="Hike" ng-model="vm.tree.verb" aria-describedby="basic-addon1" required>
    </div>
</div>
<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Place</span>
        <input type="text" class="form-control" placeholder="Park" ng-model="vm.tree.place" aria-describedby="basic-addon1" required>
    </div>
</div>
<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Adjective</span>
        <input type="text" class="form-control" placeholder="North" ng-model="vm.tree.adjective" aria-describedby="basic-addon1" required>
    </div>
</div>
<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Adjective</span>
        <input type="text" class="form-control" placeholder="Pretty" ng-model="vm.tree.adjective1" aria-describedby="basic-addon1" required>
    </div>
</div>
<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Place</span>
        <input type="text" class="form-control" placeholder="North Pole" ng-model="vm.tree.place1" aria-describedby="basic-addon1" required>
    </div>
</div>
<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Verb</span>
        <input type="text" class="form-control" placeholder="Snowing" ng-model="vm.tree.verb2" aria-describedby="basic-addon1" required>
    </div>
</div>
<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Noun</span>
        <input type="text" class="form-control" placeholder="Girl" ng-model="vm.tree.noun" aria-describedby="basic-addon1" required>
    </div>
</div>
<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Verb</span>
        <input type="text" class="form-control" placeholder="Jump" ng-model="vm.tree.verb3" aria-describedby="basic-addon1" required>
    </div>
</div>
<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Noun</span>
        <input type="text" class="form-control" placeholder="Frog" ng-model="vm.tree.noun1" aria-describedby="basic-addon1" required>
    </div>
</div>
<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Adjective</span>
        <input type="text" class="form-control" placeholder="Ugly" ng-model="vm.tree.adjective2" aria-describedby="basic-addon1" required>
    </div>
</div>
<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Adjective</span>
        <input type="text" class="form-control" placeholder="Annoying" ng-model="vm.tree.adjective3" aria-describedby="basic-addon1" required>
    </div>
</div>
<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Color</span>
        <input type="text" class="form-control" placeholder="Black" ng-model="vm.tree.color" aria-describedby="basic-addon1" required>
    </div>
</div>
<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Adjective</span>
        <input type="text" class="form-control" placeholder="Cute" ng-model="vm.tree.adjective4" aria-describedby="basic-addon1" required>
    </div>
</div>
<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Verb</span>
        <input type="text" class="form-control" placeholder="Pulling" ng-model="vm.tree.verb4" aria-describedby="basic-addon1" required>
    </div>
</div>
<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Verb</span>
        <input type="text" class="form-control" placeholder="Sliding" ng-model="vm.tree.verb5" aria-describedby="basic-addon1" required>
    </div>
</div>
<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Noun</span>
        <input type="text" class="form-control" placeholder="Mom" ng-model="vm.tree.noun2" aria-describedby="basic-addon1" required>
    </div>
</div>
<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Exclamation</span>
        <input type="text" class="form-control" placeholder="LOOK" ng-model="vm.tree.exclamation" aria-describedby="basic-addon1" required>
    </div>
</div>
<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Holiday</span>
        <input type="text" class="form-control" placeholder="July 4th" ng-model="vm.tree.holiday" aria-describedby="basic-addon1" required>
    </div>
</div>